body {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0px;
  padding: 0px;
  color: black;
  font-size: 10pt;
  overflow: hidden;
}

a {
  color: #665;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

input[type='text'] {
  margin: 0px;
}

.tab_modifier {
  position: absolute;
  top: 1px;
  left: 5px;
  background-color: red;
  height: 1px;
  border-radius: 1px;
  opacity: 0.4;
}

#__debug {
  width: 200px;
  background-color: #dd0;
}

#error {
  width: 430px;
  margin: 5px;
  margin-bottom: 10px;
  background-color: #F9C236;
}

#absolute_container {
  position: absolute;
  z-index: 999999;
  left: 0px;
  width: 100%;
  display: none;
}

#warning {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  padding: 4px;
  display: table;
}

#warning .img_area {
  display: table-cell;
  vertical-align: middle;
  width: 32px;
}

#warning .content {
  margin-left: 5px;
}

#warning .dismiss {
  float: right;
  cursor: pointer;
  margin-top: -3px;
  margin-right: -3px;
  margin-left: 3px;
}

#workspace {
  margin: 0px 4px 0px 4px;
  min-width: 440px;
}

#logout {
  float: left;
  font-size: 8pt;
  margin-top: 4px;
}

#mark_as_read {
  float: right;
  font-size: 8pt;
  margin-top: 4px;
}

#loading {
  float: right;
  margin: 0px;
  padding: 0px;
  padding-right: 5px;
  padding-top: 6px;
}

.timeline {
  margin: 0px;
  padding: 0px;
  padding-right: 35px;
  max-height: 400px;
  overflow: auto;
  overflow-x: hidden;
}

#update_tweets {
  display: none;
  font-size: 9pt;
  font-weight: bold;
  text-align: center;
  margin-bottom: 3px;
  cursor: pointer;
}

#shortener_area {
  margin: 0px;
  padding: 0px;
  margin-bottom: 2px;
}

#shortener_area input {
  width: 100%;
  z-index: 999;
}

#shortener_button {
  left: 50%;
  position: absolute;
  width: 100px;
  padding: 1px;
  margin-left: -51px;
}

#shortener_button div {
  margin-top: -1px;
  text-align: center;
  cursor: pointer;
  display: none;
}

#shorten_current {
  width: 16px;
  height: 16px;
  position: absolute;
  right: 4px;
  margin-top: -18px;
  cursor: pointer;
}

#compose_tweet_area textarea {
  width: 100%;
  margin: 0px;
  padding: 0px;
}

#compose_tweet_area .footer .chars_left {
  margin-top: 3px;
  float: right;
}

#compose_tweet img {
  margin-top: 3px;
}

#compose_tweet img.left {
  float: left;
  margin-left: 5px;
}

#compose_tweet img.right {
  float: right;
  margin-right: 5px;
}

#compose_tweet {
  font-size: 9pt;
  font-weight: bold;
  margin: 0px;
  padding: 0px;
  text-align: center;
  cursor: pointer;
}

.tweet {
  width: 100%;
  min-width: 400px;
  padding: 2px 4px 2px 4px;
  min-height: 64px;
  padding-right: 20px;
  position: relative;
}

.tweet .text {
  clear: right;
  word-wrap: break-word;
}

.tweet .user {
  font-size: 9pt;
}

.tweet .footer {
  margin: 0px;
  padding: 0px;
  position: relative;
  font-size: 8pt;
  margin-top: 2px;
}

.tweet img.profile {
  border: 0;
  margin-right: 4px;
  float: left;
  cursor: pointer;
  height: 48px;
  width: 48px;
}

.tweet img.retweet {
  width: 14px;
  height: 14px;
  margin-right: 2px;
  margin-top: 1px;
  vertical-align: top;
}

.tweet .rt_confirm {
  position: absolute;
  right: 0px;
  top: 45px;
  display: none;
  padding: 5px;
  min-width: 200px;
}

.tweet .rt_confirm.destroy {
  top: 30px;
}

.tweet .first_container {
  width: 100%;
}

.tweet .new_actions {
  position: absolute;
  top: 2px;
  right: 3px;
}

.tweet .new_actions img {
  cursor: pointer;
  display: none;
}

.tweet .new_actions img.starred {
  display: inline;
}