/*
  Chromified Theme
  Copyright 2009 Will Ryan, ausnadian at gmail dot com
*/

input[type='text'] {
  -webkit-border-radius: 5px;
  background-color: #f0f5fb;
  border: 1px solid #c1cddc;
}

#update_tweets {
  -webkit-border-radius: 5px;
  background-color: #b4cff2;
  color: #666;
}

#update_tweets:hover {
  background-color: #eff4fb;
}

#shortener_button div {
  border-bottom-left-radius: 5px 5px;
  border-bottom-right-radius: 5px 5px;
  background-color: #e5effe;
  border: 1px solid #b4cff2;
  border-top: 0px;
}

#shortener_button div:hover {
  background-color: #f0f5fb;
  border: 1px solid #c1cddc;
  border-top: 0px;
}

#shorten_current {
  background: #fff url(../img/globe_blue.png) repeat-x 0 0;
}

#compose_tweet_area textarea {
  -webkit-border-radius: 5px;
  background-color: #f0f5fb;
  border: 1px solid #c1cddc;
}

#compose_tweet {
  -webkit-border-radius: 5px;
  color: #000000;
  background-color: #e5effe;
  border: 1px solid #b4cff2;
  padding: 3px;
}

#compose_tweet:hover {
  background-color: #f0f5fb;
  border: 1px solid #c1cddc;
}

.tweet {
  -webkit-border-radius: 5px;
  background-color: #ffffff;
  border: 3px solid #e5effe;
  margin-bottom: 3px;
}

.tweet.unread {
  border: 1px solid #4b8cdc;
}

.tweet .user {
  color: #666;
  font-weight: bold;
  text-decoration: none;
}

.tweet .footer {
  color: #999;
}

.tweet img.profile {
  -webkit-border-radius: 5px;
}

.tweet .rt_confirm {
  -webkit-border-radius: 5px;
  border: 3px solid #3BAAE3;
  background-color: #e5effe;
}

.tweet .extra_tweet_data {
  color: #999;
}

/**
    Sexy Combo Skin

	sexy-combo 2.1.3 : http://code.google.com/p/sexy-combo/
*/

div.sexy input {
  background:#fff url(text-bg.gif) repeat-x 0 0;
  border:1px solid #B5B8C8;
}

div.sexy div.icon {
  background:transparent url(trigger.gif) no-repeat 0 0;
  border-bottom: 1px solid #B5B8C8;
}

div.sexy li.active {
  background-color: rgb(223, 232, 246);
}