#chromed_bird_control {
  font-family: Helvetica, Arial, sans-serif;
  width: 364px;
  background: #878787;
  color: #fff;
  font-size: 8pt;
  text-align: left;
}

#chromed_bird_control a, #chromed_bird_control a:visited {
  float: right;
  color: #fff;
  text-decoration: underline;
  padding-right: 2px;
}

.chromed_bird_tweet {
  width: 350px;
  padding: 2px 4px 2px 4px;
  text-align: left;
  margin: 0px;
  font-family: Helvetica, Arial, sans-serif;
  color: black;
  font-size: 10pt;
}

.chromed_bird_tweet a, .chromed_bird_tweet a:visited {
  color: #665;
  text-decoration: none;
}

.chromed_bird_tweet a:hover {
  text-decoration: underline;
}

.chromed_bird_tweet img {
  margin: 0px;
  padding: 0px;
  border: 0;
}

.chromed_bird_tweet .text {
  clear: right;
  word-wrap: break-word;
}

.chromed_bird_tweet .user {
  font-size: 9pt;
}

.chromed_bird_tweet .footer {
  margin: 0px;
  padding: 0px;
  position: relative;
  font-size: 8pt;
  margin-top: 2px;
}

.chromed_bird_tweet img.profile {
  border: 0;
  margin-right: 4px;
  float: left;
  cursor: pointer;
  height: 48px;
  width: 48px;
}

.chromed_bird_tweet img.retweet {
  width: 14px;
  height: 14px;
  margin-right: 2px;
  margin-top: 1px;
  vertical-align: top;
}

.chromed_bird_tweet img.profile.retweet_source {
  margin-right: 0px;
  width: 40px;
  height: 40px;
}

.chromed_bird_tweet img.profile.retweet_retweeter {
  margin-bottom: 20px;
  margin-right: -12px;
  position: relative;
  top: 24px;
  left: -16px;
  width: 24px;
  height: 24px;
}

/* Theme */

.chromed_bird_tweet {
  -webkit-border-radius: 5px;
  background-color: #ffffff;
  border: 3px solid #e5effe;
  margin-bottom: 3px;
}

.chromed_bird_tweet.unread {
  border: 1px solid #4b8cdc;
}

.chromed_bird_tweet .user {
  color: #666;
  font-weight: bold;
  text-decoration: none;
}

.chromed_bird_tweet .footer {
  color: #999;
}

.chromed_bird_tweet img.profile {
  -webkit-border-radius: 5px;
}

#chromed_bird_container {
  position: fixed;
  top: 0px;
  right: 2px;
  z-index: 999;
}