body {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0px;
  padding: 0px;
  color: black;
  font-size: 10pt;
}

fieldset {
  border: 1px solid #b4cff2;
  margin-right: 50px;
}

fieldset legend {
  font-weight: bold;
}

label {
  float: left;
  width: 130px;
}

input[type="text"], input[type="password"] {
  border: 1px solid #b4cff2;
  width: 120px;
}

input[type="checkbox"] {
  margin-left: 80px;
}

span.error {
  color: red;
  margin-left: 5px;
}

.notice {
  font-style: italic;
  color: #777;
  font-size: 8pt;
}

#main_area {
  -webkit-border-radius: 5px;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  background-color: #ffffff;
  border: 3px solid #e5effe;
  padding: 2px 4px 2px 4px;
}