body {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0px;
  padding: 0px;
  color: black;
  font-size: 10pt;
}

fieldset {
  border: 1px solid #b4cff2;
  margin-right: 50px;
  margin-bottom: 10px;
}

fieldset legend {
  font-weight: bold;
}

#main_area label {
  float: left;
  width: 150px;
}

#main_area input[type="text"], #main_area input[type="password"], #main_area select {
  border: 1px solid #b4cff2;
  width: 140px;
}

#main_area span.error {
  color: red;
  margin-left: 5px;
}

#main_area .notice {
  font-style: italic;
  color: #777;
  font-size: 8pt;
}

#main_area table {
  border-collapse: collapse;
}

#main_area table input[type="text"] {
  width: 50px;
}

#main_area table td:not(.label) {
  width: 100px;
  text-align: center;
  border-right: 1px solid #000;
}

#main_area table th:not(:empty) {
  border-right: 1px solid #000;
}

#main_area {
  -webkit-border-radius: 5px;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  background-color: #ffffff;
  border: 3px solid #e5effe;
  padding: 2px 4px 2px 4px;
}

canvas.color_selector {
  cursor: pointer;
}

#saved_notice {
  -webkit-border-radius: 5px;
  position: absolute;
  left: 50%;
  margin-left: -350px;
  margin-top: -20px;
  width: 700px;
  border: 1px solid #B31E04;
  background-color: #FF2B05;
  color: #fff;
  text-align: center;
  display: none;
}