/**
	sexy-combo 2.1.3 : http://code.google.com/p/sexy-combo/

	This is the base structure, a skin css file is also needed
*/

/*wrapper of all elements*/
div.combo {
    position:relative;
    left: 0px;
    top: 0px;
}


/*text input*/
.combo input {
    position: absolute;
}


/*icon*/
.combo div.icon {
    position:absolute;
}


/*list wrapper*/
.combo div.list-wrapper {
    position: absolute;
    overflow: hidden;
    /*we should set height and max-height explicitly*/
    height: 200px;
    max-height: 200px;
    /*should be always at the top*/
    z-index: 99999;

}

/*"drop-up" list wrapper*/
.combo div.list-wrapper-up {}

/*dropdown list*/
.combo ul {}

/*dropdown list item*/
.combo  li {
    height: 16px;
}

/*active (hovered) list item*/
.combo li.active {}


.combo .visible {
    display: block;
}

.combo .invisible {
    display: none;
}

/*used when emptyText config opt is set. Applied to text input*/
.combo input.empty {}







