input[type='text'] {
  -webkit-border-radius: 5px;
  border: 1px solid #882;
}

#update_tweets {
  -webkit-border-radius: 10px;
  background-color: #EDEDB1;
  color: #666;
  font-style: italic;
}

#update_tweets:hover {
  background-color: #ee7;
}

#shortener_button div {
  border-bottom-left-radius: 5px 5px;
  border-bottom-right-radius: 5px 5px;
  background-color: #EDEDB1;
}

#shortener_button div:hover {
  background-color: #ee7;
}

#shorten_current {
  background: #fff url(../img/globe_yellow.png) repeat-x 0 0;
}

#compose_tweet_area textarea {
  border: 1px solid #882;
}

#compose_tweet_area input[type="button"] {
  margin: 2px 0px 2px 0px;
  padding: 0px;
  background-color: #cc5;
  border: 1px solid #882;
}

#compose_tweet_area input[type="button"]:hover {
  outline: 1px solid #882;
}

#compose_tweet_area input[type="button"]:hover:disabled {
  outline: inherit;
}

#compose_tweet {
  -webkit-border-radius: 10px;
  background-color: #EDEDB1;
  color: #666;
  font-style: italic;
}

#compose_tweet:hover {
  background-color: #ee7;
}

.tweet {
  -webkit-border-radius: 5px;
  background-color: #ee7;
  margin-bottom: 3px;
  width: 376px;
}

.tweet.unread {
  background-color: #eed077;
}

.tweet .user {
  color: #666;
  font-weight: bold;
  font-style: italic;
  text-decoration: none;
}

.tweet .timestamp {
  color: #999;
  font-style: italic;
}

.tweet .actions a {
  color: #999;
  font-style: italic;
}

.tweet img.profile {
  -webkit-border-radius: 5px;
}

.tweet .rt_confirm {
  -webkit-border-radius: 5px;
  background-color: #EDEDB1;
}

.tweet .extra_tweet_data {
  color: #999;
}

/**
    Sexy Combo Skin

	sexy-combo 2.1.3 : http://code.google.com/p/sexy-combo/
*/

div.sexy input {
  border:1px solid #eed077;
}

div.sexy div.icon {
  background:transparent url(trigger.gif) no-repeat -17px 0px;
  border-bottom: 1px solid #eed077;
}

div.sexy li.active {
  background-color: rgb(253, 240, 151);
}